API_ID=123456
API_HASH=your_api_hash
BOT_TOKEN=8461695991:AAHXkANYh0V0HqrAZNqky2BJ3VMoveFcbK8
MONGO_URI=mongodb+srv://xtvadmin:RoTHmvz3NHNJn39U@xtvrequests.eo8pphz.mongodb.net/?appName=XTVrequests
ADMIN_IDS=123456789,987654321
ADMIN_CHANNEL_ID=-1001234567890
